body
{
	font: "Trebuchet MS", Verdana, sans-serif;
	background-color: #5c87b2;
	color: #696969;
}

#main
{
	padding: 30px;
	background-color: #ffffff;
	border-radius: 0 0 4px 4px;
}

h1
{
	border-bottom: 3px solid #cc9900;
	color: #996600;
}

ul#menu
{
	padding: 0px;
	position: relative;
	margin: 0;
}

ul#menu li
{
	display: inline;
}

ul#menu li a 
{
	background-color: #ffffff;
	padding: 10px 20px;
	text-decoration: none;
	line-height: 2.8em;
	color: #034af3;
	border-radius: 4px 4px 0 0;
}

ul#menu li a:hover
{
	background-color: #e8eef4;
}

table.reference,table.tecspec{
	border-collapse:collapse;width:100%;
}

table.reference tr:nth-child(odd)	{background-color:#f1f1f1;}
table.reference tr:nth-child(even)	{background-color:#ffffff;}

table.reference tr.fixzebra			{background-color:#f1f1f1;}

table.reference th{
	color:#ffffff;background-color:#555555;border:1px solid #555555;padding:3px;vertical-align:top;text-align:left;
	text-align: center;
}

table.reference th a:link,table.reference th a:visited{
	color:#ffffff;
	text-align: center;
}

table.reference th a:hover,table.reference th a:active{
	color:#EE872A;
	text-align: center;
}

table.reference td{
	border:1px solid #d4d4d4;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;
	text-align: center;
}

table.reference td.example_code
{
	vertical-align:bottom;
}

table.dialog {
	border-collapse:collapse;
	width:100%;
}

table.dialog input[type=text] {
	width:95%;
}
